<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>upload</string>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.iOSPushIndiaNIC</key>
		<string>IndiaNIC-Push-Development</string>
	</dict>
	<key>signingCertificate</key>
	<string>868DE9E0879BBE1C338CA4147BE2243970EE4957</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>7BCW99KL8P</string>
</dict>
</plist>
